@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-main: #f3f3f3;
  --text-main: #1a1a1a;
  --text-muted: #6b6b6b;
  --card-bg: #ffffff;
  --footer: #666666;
  --other-text :#252423;

}

body.dark {
  --bg-main: #1b1b1b;
  --text-main: #e8e8e6;
  --text-muted: #b5b5b5;
  --card-bg: #242424;
  --footer: #C8C7C5;
  --other-text: #FEFEFB;
}

body {
  background: var(--card-bg);
  font-family: "Source Serif 4", serif;
  min-height: 100vh;
  /* overflow: hidden; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
    font-family: "DotGothic16", sans-serif;  
    color: var(--text-main);
    font-size: 16px;

}

#themeToggle {
  background: none;
  border: none;
  padding: 0;
  font-family: "DotGothic16", sans-serif;  
  font-size: 14px;
  font-weight: 400;
  color: var(--text-main);
  cursor: pointer;
  position: relative;
}


.theme-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;

  width: 100%;
  height: 1px;
  background: currentColor;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-btn:hover::after {
  transform: scaleX(1);
}
.main-card {
  background: var(--bg-main);
  margin: 16px 16px 18px 16px;
  border-radius: 12px;
  padding: 32px;
  min-height: calc(100vh - 74px);
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content .left {
  max-width: 520px;
  margin-top: 120px;
  
}

.content .right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: auto;
  width: auto;
}

.projects {
  border-radius: 64px;
  border: 1px solid rgb(200, 199, 197);
  padding: 14px 16px;
  /* font-family: "DotGothic16", sans-serif;   */
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--other-text);
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  width: auto;
}

.projects:hover {
  background: rgba(0, 0, 0, 0.03);
}

.projects:hover {
  background: #f9f9f9;
}

.footer {
  margin: 0 24px 24px 24px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--footer);
}

h1 {
  font-family: "DotGothic16", sans-serif;   
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: -0.02em;
  transition: color 0.3s;
  color: var(--text-main);
  text-transform: uppercase;
}

p {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  transition: color 0.3s;
}
.left p{

    color: var(--text-muted);
}

span {
  color: var(--other-text);
}

@media (max-width: 768px) {

  .content {
    flex-direction: column;
    gap: 40px;
  }

  .right {
    margin-left: 0;        
    align-items: center; 
  }

  .projects {
    width: auto;       
  }

  .footer{

    text-align: center;
    flex-direction: column;
    gap:15px;
    

  }

}